.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
}


.App-link {
  color: rgb(112, 76, 182);
}

.completed {
  text-decoration: line-through;
  color: green;
  font-size: 0.8em;
}

.uncompleted {
  color: red;
  font-weight: bold;
}

.navbar {
  width: 100vw;
  height: 6vh;
  background-color: turquoise;
  text-align: center;
  display: inline-block
}

ul {
  display: flex;
  font-size: 40px;
  list-style-type: none;
  justify-content: space-evenly;
}